body{
    background-image: url(./img/Baixar\ papel\ de\ texturas\ digitais\ de\ mármore\ verde\ gratuitamente.jfif);
}



.city {
    background-color: rgb(161, 206, 207);
    color: rgb(255, 253, 253);
    border: 2px solid rgba(0, 0, 0, 0);
    margin: 20px;
    padding: 20px;
    
  }
  h1{
    background-color: rgb(161, 206, 207);
    color: white;
  }
  